<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css')}}">
    <script src="{{ url_for('static', filename='js/plotly.js/plotly.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/paho.mqtt/paho-mqtt-min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/socket.io/socket.io.js')}}"></script>
	<title>Web Vibration Monitor</title>
	<link rel="icon" type="image/png" href="https://e7.pngegg.com/pngimages/446/511/png-clipart-computer-icons-scalable-graphics-favicon-link-symbol.png"/>
</head>
<body>
<!--	<header class="header"></header>-->
    <h1 class="header">VIBRATION DATA AND INFERENCE ENGINE
		<div class="button-bounding-box-left">
			<button id="uploadCSV" class="button" value="Upload CSV"> Upload CSV </button>
			<!-- Rectangular switch -->
			<label class="switch">
			  <input checked type="checkbox" id="streamSlider">
			  <span class="slider"></span>
			</label>

			<div id="streaming-status"></div>
		</div>


		<div class="button-bounding-box">
			<div id="storage-info"></div>
			<button id="recordCSV" class="button" value="Start Recording"> Record </button>
			<button id="downloadCSV" class="button" value="Download as CSV" onclick="window.location.href='static/record_channel1.csv'"> Download as CSV </button>
			<div id="about" onclick="(function(){
									document.getElementById('aboutPopup').style.display = 'block';})()">i</div>
		</div>
	</h1>
<div class="container">
	<div class="block-cover">
			<div class="block" id="channel1">
				<!-- # Graph 1-->
			</div>
	</div>

	<div class="block-cover">
		<div class = "block" id="channel2">
			<!-- # Graph 2-->
		</div>
	</div>

	<div class="block-cover">
		<div class = "block" id="channel3">
			<!-- # Graph 3-->
		</div>
	</div>

	<div class="block-cover">

		<div class = "block" id="inference">
			<!-- # Inference -->
			<h1 class="header">REAL-TIME ML INFERENCE</h1>
			<h3 class="inferenceClass"></h3>
		</div>
	</div>

</div>
<script src="{{ url_for('static', filename='js/util.js')}}"></script>

<script src="https://d3js.org/d3-array.v2.min.js"></script>
<script src="https://d3js.org/d3-color.v2.min.js"></script>
<script src="https://d3js.org/d3-format.v2.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
<script src="https://d3js.org/d3-time.v2.min.js"></script>
<script src="https://d3js.org/d3-time-format.v3.min.js"></script>
<script src="https://d3js.org/d3-scale.v3.min.js"></script>
<script src="https://d3js.org/d3-selection.v2.min.js"></script>
<script src="https://d3js.org/d3-axis.v2.min.js"></script>


<script src="{{ url_for('static', filename='js/timechart/timechart.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/webgl-graphing.js')}}"></script>
</body>
</html>